%html
  %head
    %title
      Mashup Movies - The Program
    = @program[MOVIES.first]['css']
  %body
    #resultsDiv
      %table{:id => "results"}
        %tr
          %th Details
          %th Info
        - if not @program.nil?
          - MOVIES.each do |value|
            %tr
              %td
                //%img{:src => @program[value]['img']}
                = "<img src='data:image/png;base64,#{@program[value]['img']}' />"
                %center
                  %a{:href => @program[value]['url'], :title => 'details'} details
              %td
                = @program[value]['stats']
              

